// ==============================
// Post
// ==============================

.posts {
  margin-bottom: $post-list-margin-bottom;
  border-bottom: $post-border;
}

.post {
  padding: $post-padding;
  
  & + .post {
    border-top: $post-border;
  }

  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/footer';

  .share {
    display:block;
    width:100%;
    text-align:center;

    font-weight: 600;
    font-size: $post-nav-font-size;
    font-family: $global-serif-font-family;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
  }
}