{{ define "content" -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>

      <div class="post-meta">
        <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
        {{ with .Params.categories -}}
          <div class="post-category">
            {{ range . }}
              <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
            {{ end }}
          </div>
        {{- end }}
        {{ if .Site.Params.moreMeta -}}
        <span class="more-meta"> {{ T "wordCount" .WordCount }} </span>
        <span class="more-meta"> {{ T "readingTime" .ReadingTime }} </span>
        {{- end }}
      </div>
    </header>

    <!-- TOC -->
    {{ partial "post/toc.html" . }}

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}
    </div>

    <div class="share-page">
      Share this on:
      <a href="https://twitter.com/intent/tweet?text={{ .Title }}&amp;url={{ .Permalink }}&amp;via={{ .Site.Social.twitter }}&amp;related={{ .Site.Social.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a> |
      <a href="https://facebook.com/sharer.php?u={{ .Permalink }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a> |
      <a href="https://plus.google.com/share?url={{ .Permalink }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a> |
      <a href="http://www.reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" rel="nofollow" target="_blank" title="Share on Reddit">Reddit</a> |
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}&amp;summary={{ .Title }}&amp;source={{ .Permalink }}" rel="nofollow" target="_blank" title="Share on Linkedin">Linkedin</a> |
      <a href="//www.stumbleupon.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" title="Share on StumbleUpon">StumbleUpon</a> |
      <a href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" title="Share on Pinterest">Pinterest</a> |
      <a href="mailto:?subject=Check out this sketch by {{ .Site.Author.name }}: {{ .Title }}&amp;body={{ .Title }}: {{ .Permalink }}" target="_blank" title="Email">Email</a>
    </div>

    <!-- Copyright -->
    {{ partial "post/copyright.html" . }}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . }}
          <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
          {{ end }}
        </div>
      {{- end }}

      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection }}
          <a class="prev" href="{{ .URL }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection }}
          <a class="next" href="{{ .URL }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "nextPost" }}</span>
            <i class="iconfont icon-right"></i>
          </a>
        {{- end }}
      </nav>
    </footer>
  </article>
{{- end }}
